<br/>
<br/>
<br/>
<br/>
This is the index for users needing approval for events
<br/>
<br/>

<table class="table table-striped table-bordered">
	<td>Email</td>
	<td>First Name</td>
	<td>Last Name</td>
	<td>NickName</td>
	<td>Status</td>
	<td>Church</td>
	<td>Primary Role</td>
	<td>Login Provider</td>
	<td>Sign In Count</td>
	<td>Events</td>
	<td>Action</td>

<% @users.each do |user| %>
<tr>
	<td><%= link_to user.email, user_path(user) %></td>
	<td><%= user.first_name %></td>
	<td><%= user.last_name %></td>
	<td><%= user.nickname %></td>
	<td><%= status(user.suspended) %></td>
	<td><%= user.church %></td>
	<td><%= user.primary_role %></td>
	<td><%= user.provider %></td>
	<td><%= user.sign_in_count %></td>
	<td>
	<div class="btn-group">
	  <button class="btn btn-mini">Events</button>
	  <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
	    <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu">
		<% user.events.each do |event| %>
	    <li><%= link_to event.title, admin_event_path(event)%></li>
		<% end %>
	  </ul>
	</div>
	</td>
	<td><%= link_to "View User", user_path(user), class: "btn btn-mini btn-info" %> <%= link_to "Approve for events", allow_event_posting_admin_event_path(user), method: :put, class: "btn btn-mini btn-warning"  %></td>
</tr>
<% end %>
</table>
