<div class="container">

	<div class="form_container pull-left">
		<div class="section_header">
		    <h4>Users Needing Event Approval</h4>
		    <br/><br/>
		</div>
	</div>

	<table class="table table-striped table-hover needing_approval">
		<td>
			Email <span class="slash">/</span> NickName <span class="slash">/</span> Status <span class="slash">/</span> Role <span class="slash">/</span> Sign-in count <span class="slash">/</span> Provider
		</td>
		<td><span class="pull-right">Events</span></td>
		<td><span class="pull-right">Action</span></td>

	<% @users.each do |user| %>
	<tr class="user_event_approval_tr">
		<td>
			<%= link_to user.email, user_path(user) %> <span class="slash">/</span> <%= return_input_or_nil(user.nickname) %> <span class="slash">/</span> <%= return_input_or_nil(status(user.suspended)) %> <span class="slash">/</span> <%= return_input_or_nil(user.primary_role) %> <span class="slash">/</span> <%= return_input_or_nil(user.sign_in_count) %> <span class="slash">/</span><%= return_input_or_nil(user.provider) %>
		</td>
		<td>
			<div class="btn-group pull-right">
				<button class="btn btn-mini">Events</button>
					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
			  		<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<% user.events.order("title ASC").each do |event| %>
			  			<li><%= link_to event.title, admin_event_path(event)%></li>
					<% end %>
				</ul>
			</div>
		</td>
		<td>
			<div class="btn-group pull-right">
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to "View User", user_path(user) %>
					</li>
					<li class="divider"></li>
					<li>
						<%= link_to "Approve for events", allow_event_posting_admin_event_path(user), method: :put %>
					</li>
				</ul>
			</div>
		</td>
	</tr>
	<% end %>
	</table>



	<br/>
	<br/>

	<div class="form_container pull-left">
		<div class="section_header">
		    <h3>Admins Event Index</h3>
		    <br/><br/>
		</div>
	</div>

	<br/>
	<br/>

	<table class="table table-striped table-hover">
		<td>
			Created By <span class="slash">/</span> Event <span class="slash">/</span> Date <span class="slash">/</span> Online Event?
			<br/>
			Location
			<br/>
			Description
		</td>
		<td><span class="pull-right">Action</span></td>

	<% @events.each do |event| %>
	<tr class="all_events">
		<td>
			<%= link_to_users_profile(event.attendees.first.user) %> <span class="slash">/</span> <%= link_to event.title, admin_event_path(event) %> <span class="slash">/</span> <%= return_input_or_nil(date_format(event.event_dates.last)) %> <span class="slash">/</span> <%= online_or_in_person(event.online_event) %> 
			<br/>
			<%= return_input_or_nil(event.city_province) %> <span class="slash">/</span> <%= State.display_state_name(event.state_id) %> <span class="slash">/</span> <%= display_country_name(event.country_id) %> 
			<br/>
			<%= truncate(event.details, length: 100) %>
		</td>

		<td>
			<div class="btn-group pull-right">
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li>
						<%= link_to "View Event", admin_event_path(event) %>
					</li>
					<li class="divider"></li>
					<li>
						<%= link_to "Delete Event", admin_event_path(event), method: :delete, confirm: "Are you sure?" %>
					</li>
				</ul>
			</div>
		</td>

	</tr>
	<% end %>
	</table>
</div>