<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<div class="container form_container">
		<div class="section_header">
		    <h3>Edit <%= resource_name.to_s.humanize %> Account Settings</h3>
		</div>
	</div>
	<br/><br/>
	<%= devise_error_messages! %>
	<div id="contact">
		<div class="container devise_forms">
			<div class="row contact">
				<div class="row form">
					<div class="span6 center_div">

						  <%= f.label :email, class: "pull-left" %><span class="required">*</span>
						  <div class="clear"></div>
						  <%= f.email_field :email %>

						  <br/><br/>

						 <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
						  <div class="clear"></div>
						  <%= f.password_field :password, :autocomplete => "off" %>

						  <br/><br/>

							<%= f.label :password_confirmation %>
						  <div class="clear"></div>
						  <%= f.password_field :password_confirmation %>
						  <br/><br/>
							<% unless current_user.encrypted_password.blank? %>
						 <%= f.label :current_password %><span class="required">*</span>
							<i>(we need your current password to confirm your changes)</i>
						  <div class="clear"></div>
						  <%= f.password_field :current_password %>
							<% end %>

							<div><%= f.hidden_field :please_update, value: true %><br /></div>

						<p class="pull-left">Unhappy? <br/><%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
						<br/><br/>

						<div class="row submit">
						  	<div class="span3 right">
						  		<br/>
						  	    <div>
						  	    	<%= f.submit "Update" %>
						  	    	<div class="clear"></div>
						  	    	<div class="pull-right">
						  	    	<span class="required">*</span> = Required
						  	    	</div>
						  	    </div>
						  	</div>
						</div>

						<p>Want to change your account image? Update the <a href="http://gravatar.com">Gravatar</a> image associated with the email address you use for your account.</p>
						
						<br/><br/>
						
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>