<br/><br/><br/><br/><br/><br/>
<div class="clear"></div>

<div id="sign_up2">
    <div class="container">
        <div class="section_header">
            <h3>Sign up</h3>
        </div>
        <div class="row login">
            <div class="span5 left_box">
                <h4>Create your account</h4>

                <div class="perk_box">
                    <div class="perk">
                        <span class="icos ico1"></span>
                        <p><strong>Lorem alteration</strong> in some form  injected humour these randomised words .</p>
                    </div>
                    <div class="perk">
                        <span class="icos ico2"></span>
                        <p><strong>There are many variations</strong> of passages of Lorem alteration in some form  injected humour these randomised words.</p>
                    </div>
                    <div class="perk">
                        <span class="icos ico3"></span>
                        <p><strong>Alteration in some form</strong> injected humour these randomised words.</p>
                    </div>
                </div>
            </div>

            <div class="span6 signin_box">
                <div class="box">
                    <div class="box_cont">
                        <div class="social">
                            <a href="/users/auth/facebook" class="circle facebook">
                                <img src="/assets/theme/face.png" alt="">
                            </a>
                             <a href="/users/auth/twitter" class="circle twitter">
                                <img src="/assets/theme/twt.png" alt="">
                            </a>
                             <a href="/users/auth/github" class="circle gplus">
                                <img src="/assets/theme/github_social.png" alt="Sign in with Github">
                            </a>
                        </div>

                        <div class="division">
                            <div class="line l"></div>
                            <span>or</span>
                            <div class="line r"></div>
                        </div>

                        <div class="form">
                        	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                        	  <%= devise_error_messages! %>

                        	  <%= f.label :email %>
                        	  <%= f.email_field :email, class: "text_input" %>

                        	<% if f.object.password_required? %>
                        	  <%= f.label :password %>
                        	  <%= f.password_field :password, class: "text_input" %>

                        	  <%= f.label :password_confirmation %>
                        	  <%= f.password_field :password_confirmation, class: "text_input" %>
                        	<% end %>
                        	<div class="forgot">
                        	    <span>Already have an account?</span>
                        	    <%= link_to "Sign in", new_user_session_path %>
                        	</div>
                        	  <div><%= f.submit "Sign up now!", class: "sign_up_button" %></div>
                        	<% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br/><br/><br/>