<div class="span3 offset7">
	<h2>Sign up</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %>
	  <%= f.email_field :email %></div>

		<% if f.object.password_required? %>
	  	<div><%= f.label :password %>
	  	<%= f.password_field :password %></div>

	  	<div><%= f.label :password_confirmation %>
	  	<%= f.password_field :password_confirmation %></div>
		<% end %>

	  <div><%= f.submit "Sign up now!", class: "sign_up_button" %></div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>