<%= form_for(@user) do |f| %>
	<br/>
	<br/>
	<div class="span3 offset5">
		<div><%= f.label :first_name %><br/>
		<%= f.text_field :first_name %></div>

		<div><%= f.label :last_name %><br />
		<%= f.text_field :last_name %></div>

		<div><%= f.label :nickname %><br />
		<%= f.text_field :nickname %></div>

		<div><%= f.label :primary_role %><br />
		<%= f.text_field :primary_role %></div>

		<div><%= f.label :church %><br />
		<%= f.text_field :church %></div>

		<div><%= f.label :city_province %><br />
		<%= f.text_field :city_province %></div>

		<div><%= f.label :state_id %><br />
		<%= f.text_field :state_id %></div>

		<div><%= f.label :country_id %><br />
		<%= f.text_field :country_id %></div>

		<div><%= f.label :bio %><br />
		<%= f.text_area :bio, rows: 5 %></div>

		<div><%= f.hidden_field :please_update, value: true %><br /></div>

	</div>

	<div class="span3 offset2">
		Social Networking<br/>
		Add your social networking links to your profile
		<br/>
		<%= f.fields_for :networks do |builder| %>
			<%= render partial: '/layouts/network_fields', locals: {f: builder} %>
		<% end %>
		<%= link_to_add_fields "Add Social Network", f, :networks %>
		
		<div class="clear"></div>
		<br/>
		<br/>
		<div><%= f.submit "Update" %></div>
		
		Programming languages<br/>
		<% ProgrammingLanguage.all.each do |language| %>
			<%= check_box_tag "user[programming_language_ids][]", language.id, check_lang(@user.programmings.pluck(:programming_language_id), language.id), {id: "#{language.language}"}  %>
			<%= label_tag language.language%>
		<% end %>
	</div>
	
	
	
<% end %>
<br/>
<br/>