<div class="span6 offset3">
<h2>This is the dashboard for </h2>
<br/>
<%= @user.email %><br/>
<%= @user.nickname %><br/>
<br/>
<%= @user.first_name %><br/>
<%= @user.last_name %><br/>
<%= @user.church %><br/>
<%= @user.bio %><br/>
<%= @user.city_province %><br/>
<%= @user.primary_role %><br/>
<%= @user.state_id %><br/>
<%= @user.country_id %><br/>
<br/>
<% @user.networks.each do |network| %>
	<%= link_to network.account_url, network.account_url %><br/>
<% end %>
<br/>
<%= link_to 'Account Settings', edit_user_registration_path, id: "account_settings" %><br/>
<%= link_to 'Edit account information', edit_user_path(@user) %><br/>
<%= link_to 'View My Profile / Brag page', user_path(@user) %>

</div>