<div class="container">
	<div class="span3">
		
		<h2>This is the dashboard for </h2>
		<br/>
		<%= @user.email %><br/>
		<%= @user.nickname %><br/>
		<br/>
		<%= @user.first_name %><br/>
		<%= @user.last_name %><br/>
		<%= @user.church %><br/>
		<%= @user.bio %><br/>
		<%= @user.city_province %><br/>
		<%= @user.primary_role %><br/>
		<%= display_state_name(@user.state_id) %><br/>
		<%= display_country_name(@user.country_id) %><br/>
		<br/>
		<% @user.networks.each do |network| %>
			<%= network_service(network) %><%= networking_link(network) %><br/>
		<% end %>
		<br/>

		<% if @user.event_approved == false %>
			You are not currently approved for event creation.
			<br/><br/>
		<% end %>
		
		<% if @user.project_approved == false %>
			You are not currently approved for project creation.
			<br/><br/>
		<% end %>

		Language tags:<br/>
		<% display_programming_tags(@user.programmings.pluck(:programming_language_id)).each do |language|%>
			<%= language %> <br/>
		<% end %>
		<br/>
		
		<%= link_to 'Account Settings', edit_user_registration_path, id: "account_settings" %><br/>
		<%= link_to 'Edit Account Details', edit_user_path(@user), id: "edit_account_details" %><br/>
		<%= link_to 'View My Profile / Brag page', user_path(@user) %>

	</div> <!-- span 3 -->

	<div class="span8">
		<h3>My Projects</h3>
		
		<table class="table table-striped table-bordered">
			<tr>
				<td>Name</td>
				<td>License</td>
				<td>Organization</td>
				<td>Action</td>
			</tr>
			<% @projects.each do |project| %>
				<tr>
					<td><%= project.name %></td>
					<td><%= project.license %></td>
					<td><%= project.organization %></td>
					<td><%= link_to "View Project", project_path(project), class: "btn btn-mini btn-info" %> <%= link_to "Edit Project", edit_project_path(project), class: "btn btn-mini btn-success" %> <%= link_to "Delete Project", project_path(project), method: :delete, class: "btn btn-mini btn-danger" %></td>
				</tr>
			<% end %>
		</table>
		
		<div class="span5">
			<table>
				<tr>
					<th>Project</th>
					<th>User</th>
					<th>Action</th>
				</tr>
				<% @memberships_for_approval.each do |project| %>
					<% project.memberships.where(status: "pending").each do |membership| %>
						<tr>
							<td><%= membership.project.name.titleize %></td>
							<td><%= link_to_users_profile(membership.user) %></td>
							<td><%= approve_mem_button(membership) %> <%= deny_mem_button(membership) %></td>
						</tr>
					<% end %>
				<% end %>
			</table>
		</div>
	
	</div>
</div>