<div class="container">
	<div class="span3">
		
		<h2>This is the dashboard for </h2>
		<br/>
		<%= @user.email %><br/>
		<%= @user.nickname %><br/>
		<br/>
		<%= @user.first_name %><br/>
		<%= @user.last_name %><br/>
		<%= @user.church %><br/>
		<%= @user.bio %><br/>
		<%= @user.city_province %><br/>
		<%= @user.primary_role %><br/>
		<%= display_state_name(@user.state_id) %><br/>
		<%= display_country_name(@user.country_id) %><br/>
		<br/>
		<% @user.networks.each do |network| %>
			<%= network_service(network) %><%= networking_link(network) %><br/>
		<% end %>
		<br/>

		<% if @user.event_approved == false %>
			You are not currently approved for event creation.
			<br/><br/>
		<% end %>
		
		<% if @user.project_approved == false %>
			You are not currently approved for project creation.
			<br/><br/>
		<% end %>
		
		<% if @user.programming_languages.present? %>
			Language tags:<br/>
			<% @user.programming_languages.each do |lang| %>
				<%= lang.language %><br/>
			<% end %>
		<% end %>
		<br/>
		
		<%= link_to 'Account Settings', edit_user_registration_path, id: "account_settings" %><br/>
		<%= link_to 'Edit Account Details', edit_user_path(@user), id: "edit_account_details" %><br/>
		<%= link_to 'View My Profile / Brag page', user_path(@user) %>

	</div> <!-- span 3 -->

	<div class="span8">
		
		<% if @memberships_for_approval.present? %>
			<div class="span5">
				<table>
					<tr>
						<th>Project</th>
						<th>User</th>
						<th>Action</th>
					</tr>
					<% @memberships_for_approval.each do |membership| %>
						<tr>
							<td><%= membership.project.name.titleize %></td>
							<td><%= link_to_users_profile(membership.user) %></td>
							<td><%= approve_mem_button(membership) %> <%= deny_mem_button(membership) %></td>
						</tr>
					<% end %>
				</table>
			</div>
		<% end %>
		
	</div>
</div>