<div class="container">
	<div class="row">
		<%= link_to 'View My Profile', user_path(@user), class: "pull-right btn btn-small btn-inverse" %>

		<div class="clear"></div>
		<div class="form_container pull-left">
			<div class="section_header">
				<br/>
			    <h3>Dashboard</h3>
			    <br/><br/>
			</div>
		</div>
		<div class="clear"></div>
		<div class="span4">
			
			<br/>

			<%= "<b>Nickname:</b>".html_safe if @user.nickname.present? %>
			<%= display_if_present_with_break(@user.nickname) %>
			<%= "<b>Email:</b>".html_safe if @user.email.present? %>
			<%= display_if_present_with_break(truncate(@user.email, length: 20)) %>
			<%= "<b>Primary Role:</b>".html_safe if @user.primary_role.present? %>
			<%= display_if_present_with_break(@user.primary_role) %>
			<%= "<b>First Name:</b>".html_safe if @user.first_name.present? %>
			<%= display_if_present_with_break(@user.first_name) %>
			<%= "<b>Last Name:</b>".html_safe if @user.last_name.present? %>
			<%= display_if_present_with_break(@user.last_name) %>
			<%= "<b>Church:</b>".html_safe if @user.first_name.present? %>
			<%= display_if_present_with_break(@user.church) %>
			<%= "<b>Location: </b><br/>".html_safe if @user.city_province.present? || @user.state_id || @user.country_id %>
			<%= display_if_present_with_break(@user.city_province) %>
			<%= display_if_present_with_break(State.display_state_name(@user.state_id)) %>
			<%= display_if_present_with_break(display_country_name(@user.country_id))%>
			<%= "<b>Bio:</b>".html_safe if @user.bio.present? %>
			<%= display_if_present_with_break(@user.bio) %>
			
			<% if @user.networks.present? %>
				<br/><b>Networking:</b><br/>
				<% @user.networks.each do |network| %>
					<%= network_service(network) %><br/><%= networking_link(network) %><br/>
				<% end %>
			<% end %>
			<br/>

			<% if @user.event_approved == false %>
				<b><span class='label label-warning'>You are not currently approved for event creation.</span></b>
				<br/><br/>
			<% end %>
			
			<% if @user.project_approved == false %>
				<b><span class='label label-warning'>You are not currently approved for project creation.</span></b>
				<br/><br/>
			<% end %>
			
			<% if @user.programming_languages.present? %>
				<b>Programming Language Tags:</b><br/>
				<% @user.programming_languages.each do |lang| %>
					<%= "<span class='label label-important'>#{lang.language}</span>".html_safe %><br/>
				<% end %>
			<% end %>
			<br/>
			
			<%= link_to 'Account Settings', edit_user_registration_path, id: "account_settings" %><br/>
			<%= link_to 'Edit Account Details', edit_user_path(@user), id: "edit_account_details" %><br/>

		</div> <!-- span 3 -->

			
				
		<% if @approvals.present? %>
			<div class="span4">
				<div class="form_container pull-left">
					<div class="section_header">
						<br/>
					    <h4>Members for Approval</h4>
					    <br/><br/>
					</div>
				</div>
				<table class="table table-hover" id="approvals">
					<tr>
						<th>Project <span class="slash">/</span> User</th>
						<th><span class="pull-right">Action</span></th>
					</tr>
					<%= render @approvals %>
				</table>
				<hr class="table_color"/>
			</div>
		<% end %>
		
		<% if @events.present? %>
			<div class="span4">
				<div class="form_container pull-left">
					<div class="section_header">
						<br/>
					    <h4>Upcoming Events</h4>
					    <br/><br/>
					</div>
				</div>
				<table class="table table-hover" id="dash_events">
					<tr>
						<th>Event <span class="slash">/</span> Date(m/d/y)</th>
						<th><span class="pull-right">Action</span></th>
					</tr>
						<%= render @events, dash: true %>
				</table>
				<hr class="table_color"/>
			</div>
		<% end %>
		
		<%= paginate @approvals, :theme => 'twitter-bootstrap' %>
		<div class="hidden"><%= paginate @events, :theme => 'twitter-bootstrap' %></div>
								
	</div><!-- row -->
</div>