<div class="span6 offset3">
<h2>This is the dashboard for </h2>
<br/>
<%= current_user.email %><br/>
<%= current_user.nickname %><br/>
<br/>
<%= current_user.first_name %><br/>
<%= current_user.last_name %><br/>
<%= current_user.church %><br/>
<%= current_user.bio %><br/>
<%= current_user.city_province %><br/>
<%= current_user.primary_role %><br/>
<%= current_user.state_id %><br/>
<%= current_user.country_id %><br/>
<%= link_to 'Edit account info', edit_user_registration_path %><br/>
<%= link_to 'View My Profile / Brag page', user_path(current_user) %>

</div>