<div class="container">

	<div class="row">
		<div class="span6">
			<div class="form_container pull-left">
				<div class="section_header">
				    <h3>Events Created By Me</h3>
				    <br/><br/>
				</div>
			</div>

			<table class="table table-striped table-hover">
				<tr>
					<td>Title <span class="slash">/</span> Date</td>
					<td><span class="pull-right">Action</span></td>
				</tr>
				<% @created_by_user.each do |event| %>
					<tr>
						<td>
							<%= link_to event.title.titleize, event_path(event) %> <span class="slash">/</span> <%= date_format(event.event_dates.last) %>
						</td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li>
										<%= link_to "View Event", event_path(event) %>
									</li>
									<li class="divider"></li>
									<li>
										<%= link_to "Edit Event", edit_event_path(event), class: "edit_event_button" %>
									</li>
									<li class="divider"></li>
									<li>
										<%= link_to "Delete Event", event_path(event), method: :delete, confirm: "Are you sure you want to delete this event?" %> 
									</li>
								</ul>
							</div> 
						</td>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="span6">	

			<div class="form_container pull-left">
				<div class="section_header">
				    <h3>Upcoming Events I'm Attending</h3>
				    <br/><br/>
				</div>
			</div>

					<table class="table table-striped table-hover">
						<tr>
							<td>Title <span class="slash">/</span> Date</td>
							<td><span class="pull-right">Action</span></td>
						</tr>
						<% @my_upcoming_events.each do |event| %>
							<tr>
								<td>
									<%= link_to event.title.titleize, event_path(event) %> <span class="slash">/</span> <%= date_format(event.event_dates.last) %>
								</td>
								<td>
									<div class="btn-group pull-right">
										<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">Action <span class="caret"></span></a>
										<ul class="dropdown-menu">
											<li>
												<%= link_to "View Event", event_path(event) %> 
											</li>
											<li class="divider"></li>
											<li>
												<%= attend_event_button(current_user.id, event) if user_signed_in? %>
											</li>
										</ul>
									</div> 
								</td>
							</tr>
						<% end %>
					</table>
			
			<% if @my_past_events.present? %>
				<div class="form_container pull-left">
					<div class="section_header">
					    <h3>My Past Events</h3>
					    <br/><br/>
					</div>
				</div>
					<table class="table table-striped table-hover">
						<tr>
							<td>Title <span class="slash">/</span> Date</td>
							<td><span class="pull-right">Action</span></td>
						</tr>
						<% @my_past_events.each do |event| %>
							<tr>
								<td>
									<%= link_to event.title.titleize, event_path(event) %> <span class="slash">/</span> <%= date_format(event.event_dates.last) %>
								</td>
								<td><%= link_to "View Event", event_path(event), class: "pull-right btn btn-mini btn-primary" %> 
							</tr>
						<% end %>
					</table>
			<% end %>
			
		</div>
	
	</div>
</div>