<div class="span8 offset4">
<h2>This is the Show page / Brag page for </h2>

<%= @user.first_name %><br/>
<%= @user.last_name %><br/>
<%= @user.nickname %><br/>
<%= @user.church %><br/>
<%= @user.bio %><br/>
<%= @user.primary_role %><br/>
<%= State.display_state_name(@user.state_id) %><br/>
<%= display_country_name(@user.country_id) %><br/>

<% @user.networks.each do |network| %>
	<%= network_service(network) %><%= networking_link(network) %><br/>
<% end %>

<br/>

<% if @user.programming_languages.present? %>
	Language tags:<br/>
	<% @user.programming_languages.each do |lang| %>
		<%= lang.language %><br/>
	<% end %>
	<br/>
<% end %>


<% if @upcoming_events.present? %>
	Upcoming Events: <br/>
		<table class="table table-striped table-bordered">
			<tr>
				<td>Title</td>
				<td>Date</td>
				<td>Action</td>
			</tr>
			<% @upcoming_events.each do |event| %>
				<tr>
					<td><%= event.title %></td>
					<td><%= date_format(event.event_dates.first) %></td>
					<td><%= link_to "View Event", event_path(event), class: "btn btn-mini btn-info" %></td>
				</tr>
			<% end %>
		</table>
		<br/>
<% end %>

<% if @my_projects.present? %>
	<table class="table table-striped table-bordered">
		<tr>
			<td>Name</td>
			<td>Organization</td>
			<td>Action</td>
		</tr>
		<% @my_projects.each do |project| %>
			<tr>
				<td><%= project.name %></td>
				<td><%= project.organization %></td>
				<td><%= link_to "View Project", project_path(project), class: "btn btn-mini btn-info" %></td>
			</tr>
		<% end %>
	</table>
	<br/>
<% end %>