<h2>This is the Show page / Brag page for </h2>

<%= @user.nickname %><br/>
<%= @user.church %><br/>
<%= @user.bio %><br/>
<%= @user.primary_role %><br/>
<%= @user.state_id %><br/>
<%= @user.country_id %>