<div class="span8 offset4">
<h2>This is the Show page / Brag page for </h2>

<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.nickname %><br/>
<%= @user.church %><br/>
<%= @user.bio %><br/>
<%= @user.primary_role %><br/>
<%= @user.state_id %><br/>
<%= @user.country_id %><br/>

<% @user.networks.each do |network| %>
	<%= link_to network.account_url %><br/>
<% end %>
</div>