<div class="span8 offset4">
<h2>This is the Show page / Brag page for </h2>

<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.nickname %><br/>
<%= @user.church %><br/>
<%= @user.bio %><br/>
<%= @user.primary_role %><br/>
<%= display_state_name(@user.state_id) %><br/>
<%= display_country_name(@user.country_id) %><br/>

<% @user.networks.each do |network| %>
	<%= network_service(network) %><%= networking_link(network) %><br/>
<% end %>

<br/>

Language tags:<br/>
<% display_programming_tags(@user.programmings.pluck(:programming_language_id)).each do |language|%>
	<%= language %> <br/>
<% end %>
<br/>

</div>