<%= form_for(@event) do |f| %>
	<br/>
	<br/>
	<div class="span3 offset5">
		<div><%= f.label :title %><br />
		<%= f.text_field :title %></div>
	
		<div><%= f.label :details %>
		<%= f.text_area :details, rows: 5 %></div>
	
		<div><%= f.label :address_1 %>
		<%= f.text_field :address_1 %></div>
	
		<div><%= f.label :address_2 %>
		<%= f.text_field :address_2 %></div>
	
		<div><%= f.label :city_province %>
		<%= f.text_field :city_province %></div>
	
		<div><%= f.label :state_id %>
		<%= f.text_field :state_id %></div>
	
		<div><%= f.label :country_id %>
		<%= f.text_field :country_id %></div>
	
		<div><%= f.label :zip_code %>
		<%= f.text_field :zip_code %></div>
	
		<div><%= f.label :event_date %>
		<%= f.text_field :event_date %></div>
	
		<div><%= f.label :online_event %>
		<%= f.check_box :online_event %></div>
		
		<br/>
		
		Programming languages<br/>
		<% ProgrammingLanguage.all.each do |language| %>
			<%= check_box_tag "event[programming_language_ids][]", language.id, check_lang(@event.programmings.pluck(:programming_language_id), language.id), {id: "#{language.language}"}  %>
			<%= label_tag language.language%>
			
		<% end %>

	</div>
		
	<div class="span3 offset2">
		Social Networking<br/>
		Add your social networking links to your profile
		<br/>
		<%= f.fields_for :networks do |builder| %>
			<%= render partial: '/layouts/network_fields', locals: {f: builder} %>
		<% end %>
		<%= link_to_add_fields "Add Social Network", f, :networks %>
		<div><%= f.submit "Submit" %></div>
	</div>
		
		
	
	
<% end %>