<%= content_for :head, auto_discovery_link_tag(:rss, events_path(format: "rss")) %>

<div class="container">
	
	<%= link_to image_tag("feed-icon-28x28.png"), events_path(format: "rss"), class: "pull-right"%>
	Listing all events
	<br/>

	<%= form_tag events_path, method: :get do %>
		Search by language: <br/>
		<%= select_tag :language, options_from_collection_for_select(ProgrammingLanguage.all, "id", "language", selected: params[:language]), include_blank: true, id: "lang_select" %> <br/>
		<%= submit_tag "Search" %>
	<% end %>

	<br/><br/>
	
	<table id="events" class="table table-striped table-bordered">
		<tbody>
		<tr>
			<td>Title</td>
			<td>City/Province</td>
			<td>State</td>
			<td>Country</td>
			<td>Online Event</td>
			<td>Date (m/d/y)</td>
			<td>Action</td>
		</tr>
			<%= render @events, dash: false %>
		</tbody>
	</table>
	
	<div class="span12">
		<%= paginate @events, :theme => 'twitter-bootstrap' %>
	</div>

	
</div>