
Listing all events
<br/>
<%= form_tag events_path, method: :get do %>
	Search by language: <br/>
	<%= select_tag :language, options_from_collection_for_select(ProgrammingLanguage.all, "id", "language"), include_blank: true, id: "lang_select" %> <br/>
	<%= submit_tag "Search" %>
<% end %>
<br/><br/>
<table id="events" class="table table-striped table-bordered">
	<tbody>
	<tr>
		<td>Title</td>
		<td>Details</td>
		<td>City</td>
		<td>State</td>
		<td>Country</td>
		<td>Online Event</td>
		<td>Date</td>
		<td>Action</td>
	</tr>
		<%= render @events %>
	</tbody>
</table>
<%= paginate @events, :theme => 'twitter-bootstrap' %>