<%= content_for :head, auto_discovery_link_tag(:rss, events_path(format: "rss")) %>

<div class="container">
	
	<%= link_to image_tag("feed-icon-28x28.png"), events_path(format: "rss"), class: "pull-right"%>
	<div class="clear"></div>
	<br/>

	<div class="form_container pull-left">
		<div class="section_header">
		    <h3>Listing All Events</h3>
		    <br/>
		    <%= event_search_pill %>
		    <br/><br/>
		</div>
	</div>

	<div class="pull-right">
		<%= form_tag events_path, method: :get do %>
			Search by language: <br/>
			<div class="input-append">
				<%= text_field_tag "language", '', data: {autocomplete_source: languages_auto_path} %>
				<%= submit_tag "Search", class: "btn event_search_button" %>
			</div>
		<% end %>
	</div>

	<br/><br/>

	<table id="events" class="table table-striped table-hover">
		<tbody>
		<tr>
			<td>Event <span class="slash">/</span> Date <span class="slash">/</span> Online Event? <span class="slash">/</span> Location</td>
			<td><span class="pull-right">Action</span></td>
		</tr>
			<%= render @events, dash: false %>
		</tbody>
	</table>
	
	<div class="span12 centered_text">
		<%= paginate @events, :theme => 'twitter-bootstrap' %>
	</div>

	
</div>