<div class="container">

	<div class="row">
		<div class="span6">
			Events created by me:<br/>

			<table class="table table-striped table-bordered">
				<tr>
					<td>Title</td>
					<td>Date</td>
					<td>Action</td>
				</tr>
				<% @current_user_attendee_creator.each do |attendee| %>
					<tr>
						<td><%= attendee.event.title %></td>
						<td><%= attendee.event.event_date %></td>
						<td><%= view_event(attendee.event) %> <%= link_to "Edit Event", edit_event_path(attendee.event), class: "btn btn-mini btn-success" %> <%= link_to "Delete Event", event_path(attendee.event), method: :delete, class: "btn btn-mini btn-danger", confirm: "Are you sure you want to delete this event?" %></td>
					</tr>
				<% end %>
			</table>
		</div>


		<div class="span6">	
		Events that I am attending: <br/>

			<table class="table table-striped table-bordered">
				<tr>
					<td>Title</td>
					<td>City</td>
					<td>Date</td>
					<td>Action</td>
				</tr>
				<% @current_user_event_attendee.each do |attendee| %>
					<tr>
						<td><%= attendee.event.title %></td>
						<td><%= attendee.event.city_province %></td>
						<td><%= attendee.event.online_event %></td>
						<td><%= link_to "View Event", event_path(attendee.event), class: "btn btn-mini btn-info" %> <%= attend_event_button(current_user.id, attendee.event) if user_signed_in? %></td>
					</tr>
				<% end %>
			</table>
		</div>
	
	</div>
</div>