<div class="container">
	Listing past events
	<br/>

	<%= form_tag past_events_path, method: :get do %>
		Search by language: <br/>
		<div class="input-append">
			<%= text_field_tag "language", '', data: {autocomplete_source: languages_auto_path} %>
			<%= submit_tag "Search", class: "btn" %>
		</div>
	<% end %>

	<br/><br/>
	<table id="events" class="table table-striped table-bordered">
		<tbody>
		<tr>
			<td>Title</td>
			<td>City/Province</td>
			<td>State</td>
			<td>Country</td>
			<td>Online Event</td>
			<td>Date (m/d/y)</td>
			<td>Action</td>
		</tr>
		<% @past_events.each do |event| %>
			<tr>
				<td><%= event.title %></td>
				<td><%= event.city_province %></td>
				<td><%= State.display_state_name(event.state_id) %></td>
				<td><%= display_country_name(event.country_id) %></td>
				<td><%= yes_or_no(event.online_event) %></td>
				<td><%= date_format(event.event_dates.first) %></td>
				<td><%= link_to "View Event", event_path(event), class: "btn btn-mini btn-info" %> </td>
			</tr>
		<% end %>	
		</tbody>
	</table>
	<%= paginate @past_events, :theme => 'twitter-bootstrap' %>
</div>