This is the event show page
	<br/>
	<%= @event.title %><br/>
	<%= @event.details %><br/>
	<%= @event.address_1 %><br/>
	<%= @event.address_2 if @event.address_2.present? %><br/>
	<%= @event.city_province %><br/>
	<%= display_state_name(@event.state_id) %><br/>
	<%= display_country_name(@event.country_id) %><br/>
	<%= @event.zip_code %><br/>
	Online Event?: <%= yes_or_no(@event.online_event) %><br/>
	Event Date (m/d/y): <%= date_format(@event.event_dates.first) %><br/>
	Event Time: <%= @event.event_dates.first.time_of_event %><br/>
	
	
	<% @event.networks.each do |network| %>
		<%= network_service(network) %><%= networking_link(network) %><br/>
	<% end %>
	<br/>
	
	<% if @event.programming_languages.present? %>
		Language tags:<br/>
		<% @event.programming_languages.each do |lang| %>
			<%= lang.language %><br/>
		<% end %>
	<% end %>
	
	
	This event was created by: <%= attendee_creator_name(@event) %>
	<%= attend_event_button(current_user.id, @event) if user_signed_in? %>
	
	<br/>
	<br/>
	Confirmed Attendees:<br/>
	<% @event.users.each do |user| %>
		<%= link_to_users_profile(user) %><br/>
	<% end %>
	
	<div id="google_map">
		<br/>
		
		<%= gmaps({
		       "map_options" => {"auto_zoom" => false, "zoom" => 15 },
		       "markers"     => {"data" => @json }
		      })
		%>
		
	</div>
	
<!-- #<Event id: nil, title: nil, details: nil, address_1: nil, address_2: nil, city_province: nil, state_id: nil, country_id: nil, zip_code: nil, online_event: false, longitude: nil, latitude: nil, created_at: nil, updated_at: nil>  -->