<div class="container">
	<h1>
		Home page
	</h1>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

	<div class="row">
		
		<div class="span6">
			Upcoming Projects:
			<% if @projects.present? %>
				<table class="table">
					<tr>
						<th>Name</th>
						<th>Organization</th>
						<th>Action</th>
					</tr>
					<% @projects.each do |project| %>
						<tr>
							<td><%= project.name %></td>
							<td><%= project.organization %></td>
							<td><%= link_to "View Project", project_path(project), class: "btn btn-mini btn-info" %></td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
		
		
		<div class="span6">
			Upcoming Events:
			<% if @events.present? %>
				<table class="table">
					<tr>
						<th>Title</th>
						<th>Date</th>
						<th>Action</th>
					</tr>
					<% @events.each do |event| %>
						<tr>
							<td><%= event.title %></td>
							<td><%= date_format(event.event_dates.first) %></td>
							<td><%= link_to "View Event", event_path(event), class: "btn btn-mini btn-info" %></td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
		
	</div>
	
	<!-- AddThis Button BEGIN -->
	<div class="addthis_toolbox addthis_default_style ">
	<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
	<a class="addthis_button_tweet"></a>
	<a class="addthis_button_pinterest_pinit"></a>
	<a class="addthis_counter addthis_pill_style"></a>
	</div>
	<%= render "/layouts/share_this" %>
	<!-- AddThis Button END -->
</div>