
	
	<section id="feature_slider" class="">
	    <!-- 
	        Each slide is composed by <img> and .info
	        - .info's position is customized with css in index.css
	        - each <img> parallax effect is declared by the following params inside its class:
	        
	        example: class="asset left-472 sp600 t120 z3"
	        left-472 means left: -472px from the center
	        sp600 is speed transition
	        t120 is top to 120px
	        z3 is z-index to 3
	        Note: Maintain this order of params

	        For the backgrounds, you can combine from the bgs folder :D
	    -->
	    <article class="slide" id="showcasing" style="background: url('/assets/theme/backgrounds/landscape.png') repeat-x top center;">
	        <img class="asset left-30 sp600 t120 z1" src="/assets/theme/slides/scene1/macbook.png" />
	        <div class="info">
	            <h2>Beautiful theme for showcasing your works.</h2>
	        </div>
	    </article>
	    <article class="slide" id="ideas" style="background: url('/assets/theme/backgrounds/aqua.jpg') repeat-x top center;">
	        <div class="info">
	            <h2>We love to turn ideas into beautiful things.</h2>
	        </div>
	        <img class="asset left-480 sp600 t260 z1" src="/assets/theme/slides/scene2/left.png" />
	        <img class="asset left-210 sp600 t213 z2" src="/assets/theme/slides/scene2/middle.png" />
	        <img class="asset left60 sp600 t260 z1" src="/assets/theme/slides/scene2/right.png" />
	    </article>
	    <article class="slide" id="tour" style="background: url('/assets/theme/backgrounds/color-splash.jpg') repeat-x top center;">
	        <img class="asset left-472 sp650 t210 z3" src="/assets/theme/slides/scene3/ipad.png" />
	        <img class="asset left-365 sp600 t270 z4" src="/assets/theme/slides/scene3/iphone.png" />
	        <img class="asset left-350 sp450 t135 z2" src="/assets/theme/slides/scene3/desktop.png" />
	        <img class="asset left-185 sp550 t220 z1" src="/assets/theme/slides/scene3/macbook.png" />
	        <div class="info">
	            <h2>Fully Responsive theme</h2>
	            <a href="features.html">TOUR THE PRODUCT</a>
	        </div>
	    </article>
	    <article class="slide" id="responsive" style="background: url('/assets/theme/backgrounds/indigo.jpg') repeat-x top center;">
	        <img class="asset left-472 sp600 t120 z3" src="/assets/theme/slides/scene4/html5.png" />
	        <img class="asset left-190 sp500 t120 z2" src="/assets/theme/slides/scene4/css3.png" />
	        <div class="info">
	            <h2>
	                Responsive <strong>HTML5 & CSS3</strong>
	                Theme
	            </h2>                
	        </div>
	    </article>        
	</section>



	<div id="about_us">
	    <div class="container">
	        <div class="section_header">
	            <h3>About Us</h3>
	        </div>            
	            <!-- Features Row -->

	        <p>
	        	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        	Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	        	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	        	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	        	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	        	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	        	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	        </p>
	        <br/>
	    </div>
	</div>




	<div id="upcoming_projects">
	    <div class="container">
	        <div class="section_header">
	            <h3>Newest Projects</h3>
	        </div>            
	            <!-- Features Row -->

	            <!-- Feature -->
	            <% if @projects.present? %>
	            	<table class="table">
	            		<tr>
	            			<th class="third">Name</th>
	            			<th class="third center">Organization</th>
	            			<th class="third text_right">Action</th>
	            		</tr>
	            		<% @projects.each do |project| %>
	            			<tr>
	            				<td class="center"><%= project.name %></td>
	            				<td class="center"><%= project.organization %></td>
	            				<td class="text_right"><%= link_to "View Project", project_path(project), class: "btn btn-mini btn-info" %></td>
	            			</tr>
	            		<% end %>
	            	</table>
	            <% end %>

	    </div>
	</div>





	<div id="upcoming_events">
	    <div class="container">
	        <div class="section_header">
	            <h3>Upcoming Events</h3>
	        </div>            
	            <!-- Features Row -->

	            <!-- Feature -->
	            <% if @events.present? %>
	            	<table class="table">
	            		<tr>
	            			<th class="third">Title</th>
	            			<th class="third center">Date</th>
	            			<th class="third text_right">Action</th>
	            		</tr>
	            		<% @events.each do |event| %>
	            			<tr>
	            				<td class="center"><%= event.title %></td>
	            				<td class="center"><%= date_format(event.event_dates.first) %></td>
	            				<td class="text_right"><%= link_to "View Event", event_path(event), class: "btn btn-mini btn-info" %></td>
	            			</tr>
	            		<% end %>
	            	</table>
	            <% end %>
	    </div>
	</div>

	<div class="clear"></div>

	<div class="span4 offset5">
	<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
		<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_pinterest_pinit"></a>
		<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<%= render "/layouts/share_this" %>
	</div>
	<!-- AddThis Button END -->
