
<%= form_for(@project) do |f| %>
	<br/>
	<br/>
	<div class="span3 offset5">
		<div><%= f.label :name %>
		<%= f.text_field :name %></div>
	
		<div><%= f.label :description %>
		<%= f.text_area :description, rows: 5 %></div>
	
		<div><%= f.label :license %>
		<%= f.text_field :license %></div>
	
		<div><%= f.label :organization %>
		<%= f.text_field :organization %></div>
	
		<div><%= f.label :accepts_requests, "Accept requests?" %>
		<%= f.check_box :accepts_requests %></div>
		
		<br/>
		Programming languages<br/>
		<% ProgrammingLanguage.all.each do |language| %>
			<%= check_box_tag "project[programming_language_ids][]", language.id, check_lang(@project.programmings.pluck(:programming_language_id), language.id), {id: "#{language.language}"}  %>
			<%= label_tag language.language%>
		<% end %>
		
	</div>
		
		
	<div class="span3 offset2">
		Social Networking<br/>
		Add your social networking links to your profile
		<br/>
		<%= f.fields_for :networks do |builder| %>
			<%= render partial: '/layouts/network_fields', locals: {f: builder} %>
		<% end %>
		<%= link_to_add_fields "Add Social Network", f, :networks %>
		<div><%= f.submit "Submit" %></div>
	</div>
		
	
	
<% end %>