
<%= form_for(@project) do |f| %>
	<br/>
	<br/>
	<div class="span3 offset5">
		<div><%= f.label :name %>
		<%= f.text_field :name %></div>
	
		<div><%= f.label :description %>
		<%= f.text_area :description, rows: 5 %></div>
	
		<div><%= f.label :license %>
		<%= f.text_field :license %></div>
	
		<div><%= f.label :organization %>
		<%= f.text_field :organization %></div>
	
		<div><%= f.label :accepts_requests, "Accept requests?" %>
		<%= f.check_box :accepts_requests %></div>
		
		<br/>
	</div>
		
		
	<div class="span3 offset2">
		Social Networking<br/>
		Add your social networking links to your profile
		<br/>
		<%= f.fields_for :networks do |builder| %>
			<%= render 'projects/network_fields', f: builder %>
		<% end %>
		<%= link_to_add_fields "Add Social Network", f, :networks %>
		<div><%= f.submit "Submit" %></div>
	</div>
		
	
	
<% end %>