<tr>
	<td>
		<%= link_to project.name.capitalize, project_path(project) %> <span class="slash">/</span> <%= project_creator_link(project) %> <span class="slash">/</span> <%= organization_name(project.organization) %>
		<br/>
		<%= truncate(project.description, length: 70) %>
	</td>
	<td class="centered_text"><%= link_to "View Project", project_path(project), class: "theme_button" %> </td>
</tr>