<tr>
	<td><%= project.name %></td>
	<td><%= project.description %></td>
	<td><%= project.license %></td>
	<td><%= project.organization %></td>
	<td><%= project_creator_link(project) %></td>
	<td><%= project.created_at %></td>
	<td><%= link_to "View Project", project_path(project) %> <%= link_to "Join Project", project_path(project) %> <%= project_creator_link(project) %></td>
</tr>