This is the project show page
<br/>
<br/>
<%= @project.name %><br/>
<%= @project.description %><br/>
<%= @project.organization %><br/>
<%= @project.license_name %><br/>

<br/>
<% @project.networks.each do |network| %>
	<%= network_service(network) %><%= networking_link(network) %><br/>
<% end %>

<br/><br/>

<% if @project.programming_languages.present? %>
	Language tags:<br/>
	<% @project.programming_languages.each do |lang| %>
		<%= lang.language %><br/>
	<% end %>
<% end %>

<br/> <br/>
Project members:<br/>
<% @project.memberships.each do |member| %>
	<% if member.role == "creator" && member.status == "active" %>
		Project Creator: <span class="label label-inverse"><%= link_to_users_profile(member.user) %></span><br/>
	<% elsif member.role != "creator" && member.status == "approved" %>
		Members:<br/>
		<%= link_to_users_profile(member.user) %><br/>
	<% end %>
<% end %>
<br/>

<%= join_project_request_button(@project, current_user) if user_signed_in?%>

