This is the project show page
<br/>
<br/>
<%= @project.name %><br/>
<%= @project.description %><br/>
<%= @project.organization %><br/>
<%= @project.license_name %><br/>

<br/>
<% @project.networks.each do |network| %>
	<%= network_service(network) %><%= networking_link(network) %><br/>
<% end %>

<br/><br/>

<% if @project.programming_languages.present? %>
	Language tags:<br/>
	<% @project.programming_languages.each do |lang| %>
		<%= lang.language %><br/>
	<% end %>
<% end %>

<br/> <br/>
Project members:<br/>
<% @project.memberships.each do |member| %>
	<% if member.role == "creator" && member.status == "active" %>
		Project Creator: <span class="label label-inverse"><%= link_to_users_profile(member.user) %></span><br/>
	<% elsif member.role != "creator" && member.status == "approved" %>
		Members:<br/>
		<%= link_to_users_profile(member.user) %><br/>
	<% end %>
<% end %>
<br/>

<%= join_project_request_button(@project, current_user) if user_signed_in?%>
<br/>







<div id="contact">
    <div class="container">
        <div class="section_header">
            <h1>Project
            	<span class="pull-right">
            		<%= image_tag("/assets/theme/signin_icos.png") %>
            	</span>
            </h1>
            <br/><br/>
            <h3><%=  %></h3>
        </div>
        
        <div class="row map">
            <div class="container">
                <div class="span5 box_wrapp">
                    <div class="box_cont">
                        <div class="head">
                            <h6>Address</h6>
                        </div>
                        <ul class="street">
                            
                        </ul>

                        <div class="head headbottom">
                            <h6>Join us</h6>
                        </div>
                        <ul class="street">
                        	
                        </ul>
                        <br/><br/>
                    </div>
                </div>
                <div class="contact">
	                <p>
	                	<%=  %>
	                </p>
            	</div>
            </div>
       	</div>
    </div>

    <div id="team">
        <div class="container">
            <div class="section_header">
                <h3>Connect with us</h3>
            </div>

            
        </div>
    </div>



  
</div>

