<br/><br/><br/><br/><br/>
<div class="clear"></div>
<div id="sign_in1">
    <div class="container">
        <div class="row">
            <div class="span12 header">
                <h4>Log in to your account</h4>
                <p>
                    There are many variations of passages of Lorem alteration in some form  injected humour these randomised words .</p>

                <div class="span4 social">
                    <a href="/users/auth/facebook" class="circle facebook">
                        <img src="/assets/theme/face.png" alt="">
                    </a>
                     <a href="/users/auth/twitter" class="circle twitter">
                        <img src="/assets/theme/twt.png" alt="">
                    </a>
                     <a href="/users/auth/github" class="circle gplus">
                        <img src="/assets/theme/gplus.png" alt="">
                    </a>
                </div>
            </div>

            <div class="span3 division">
                <div class="line l"></div>
                <span>or</span>
                <div class="line r"></div>
            </div>

            <div class="span12 footer">
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
                  <%= f.email_field :email, placeholder: "Email" %>

                  <%= f.password_field :password, placeholder: "Password" %>
				  <%= f.submit "Sign in", id: "sign_in_normally" %>
            </div>

            <div class="span12 proof">
                <div class="span5 remember">
                    <label class="checkbox">
                        <% if devise_mapping.rememberable? -%>
                          <%= f.check_box :remember_me %> <%= f.label :remember_me %>
                        <% end -%>
                    </label>
                    <%= link_to "Forgot Password?", new_user_password_path %>
                </div>

                <div class="span3 dosnt">
                    <span>Don’t have an account?</span>
                    <%= link_to "Sign Up", new_user_registration_path %>
                </div>
            </div>
        </div>
    </div>
</div>

<% end %>