<div class="navbar navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "CDDN", root_path, class: "brand" %>
			<ul class="nav">
				<li><%= link_to "Users index", admin_users_path %></li>
				<li><%= link_to "Events index", admin_events_path  %></li>
				<li><%= link_to "Users Event Approval", event_to_approve_admin_event_path(current_admin) %></li>
				
				<li class="dropdown"><a href="#" class="dropdown-toggle account_dropdown" data-toggle="dropdown">Projects <b class="caret"></b>
					<ul class="dropdown-menu account_dropdown_menu">
						<li><%= link_to 'All Projects', admin_projects_path, id: "admin_projecs_index" %> </li>
						<li><%= link_to 'Users Projects Approval', project_to_approve_admin_project_path(current_admin), id: "admin_project_approval" %> </li>
					</ul>
				</li>
				
			</ul>
			
			<ul class="nav pull-right">
				<li><%= link_to "Signed in as admin: #{current_admin.email}", class: "pull-right" %></li>
				<li><%= link_to "Admin logout", destroy_admin_session_path, method: :delete %> </li>
			</ul>
		</div>
	</div>
</div>

