<div class="navbar navbar-inverse navbar-static-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			</a>
			<a class="brand" href="/">
			    <strong>CDDN</strong>
			</a>



			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><%= link_to "Manage Users", admin_users_path %></li>
					<li><%= link_to "Manage Events", admin_events_path  %></li>
					<li><%= link_to "Manage Projects", admin_projects_path  %></li>
				</ul>

				<ul class="nav pull-right">
					<li><%= link_to "Signed in as admin: #{current_admin.email}", class: "pull-right" %></li>
					<li><%= link_to "Admin logout", destroy_admin_session_path, method: :delete %> </li>
				</ul>
			</div>
			
		</div>
	</div>
</div>

