<!DOCTYPE html>
<html>
<head>
  <title>Cddn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
	
	<% if admin_signed_in? %>
		<%= render "layouts/admin_nav" %>
	<% end %>
	
	<% if user_signed_in? %>
	  <%= render "layouts/user_logged_in_nav" %>
	<% end %>
	
	<% if !admin_signed_in? && !user_signed_in? %>
		<%= link_to "Home", root_path %> |
	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %>
		<br/><br/>
	<% end %>
	
	<%= render "layouts/please_update_banner" %>

	<% if flash[:notice] %>
		<div class="alert">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<%= flash[:notice] %>
		</div>
	<% end %>
	
	<% if flash[:alert] %>
		<div class="alert">
			<%= flash[:alert] %>
		</div>
	<% end %>
	
	<br/>
	
	<%= yield %>
	<%= yield :scripts %>
	
</body>
</html>
