<!DOCTYPE html>
<html>
<head>
  <title>Cddn</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="pull_top">
	
	<% if admin_signed_in? %>
		<%= render "layouts/admin_nav" %>
	<% end %>
	
	<% if user_signed_in? %>
	  <%= render "layouts/user_logged_in_nav" %>
	<% end %>

	<% if !admin_signed_in? && !user_signed_in? %>
	  <%= render "layouts/no_user_nav" %>
	<% end %>
	
	<%= render "layouts/please_update_banner" %>

	<!-- this is here only for the version on the dev server -->
	<br/>
	<div class="alert">
		This is test version of this application. The database will be purged and re-populated every 3 hours. Any changes you make will be temporary. Login as a user with Email: "testuser@test.com", Password: "password"
	</div>

	<% if flash[:notice] %>
		<div class="alert">
			<a class="close" data-dismiss="alert" href="#">&times;</a>
			<%= flash[:notice] %>
		</div>
	<% end %>
	
	<% if flash[:alert] %>
		<div class="alert">
			<%= flash[:alert] %>
		</div>
	<% end %>
	
	<%= yield %>
	<%= yield :scripts %>
	
	<%= render "layouts/footer" %>
</body>
</html>
