<!DOCTYPE html>
<html>
<head>
  <title>Cddn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render "layouts/please_update_banner" %>
	
	<% if user_signed_in? %>
	  Logged in as <strong><%= current_user.email %></strong>.
	  <%= link_to 'Edit account', edit_user_registration_path %> |
	  <%= link_to "Logout", destroy_user_session_path, method: :delete %> |
		<%= link_to "Home | Dashbaord", users_dashboard_path(current_user) %> |
		<%= link_to "View Profile", user_path(current_user) %>
	<% else %>
	  <%= link_to "Sign up", new_user_registration_path %> |
	  <%= link_to "Login", new_user_session_path %>
		<%= link_to "Home", root_path %>
	<% end %>

	<% if flash[:notice] %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>
	<% if flash[:alert] %>
		<div class="alert">
			<%= flash[:alert] %>
		</div>
	<% end %>
	
	<br/>
	
	<%= yield %>

</body>
</html>
